/*This is the CSS file for custom d3 elements*/

#clock, #employment, #average, #when {
  position: relative;
}

#clock {
  background-image: url(../svg/alarmclock.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

h1, h3 {
  background-color: black;
  color: white;
  padding: 15px 10px;
}

#clockHands {
  position: absolute;
  background-image: url(../svg/hands.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 100%;
  width: 169px;
  height: 91px;
  top: 255px;
  left: 90px;
  z-index: 10;
}

.clockTooltip, .employmentTooltip, .averageTooltip, .whenTooltip {
  background: rgba(200, 200, 200, 0.5);
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 180px;
  z-index: 10;
}

.employmentTooltip {
  width: 330px;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

#employment text {
  font-size: 14px;
}

.line {
  fill: none;
  stroke-width: 3;
}

.references {
  padding: 15px 10px;
}